body {
    font: 32px "Century Gothic", Futura, sans-serif;
    background: #1B1C1E;
    color: white;
    text-align: center;
    padding-top: 48px;
}

.display-none {
    display: none;
}

button, label {
    background: #1B1C1E;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    margin: 48px;
}

button:hover, label:hover {
    background: white;
    color: #1B1C1E;
}
